@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
/* Eric Meyer: Reset CSS v2.0 via http://cssreset.com */
/* line 38, ../sass/main.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../sass/main.scss */
body {
  line-height: 1;
}

/* line 38, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 38, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Kansalaisrajoite */
/* YLEISET TYYLIT */
/* line 43, ../sass/main.scss */
body {
  font-family: "Merriweather Sans", sans-serif;
  background: white;
  color: #111;
}

/* line 48, ../sass/main.scss */
h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* line 53, ../sass/main.scss */
h2 {
  font-size: 16px;
  font-weight: 400;
}

/* line 57, ../sass/main.scss */
h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

/* line 62, ../sass/main.scss */
p {
  font-weight: 300;
}

/* line 65, ../sass/main.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* line 69, ../sass/main.scss */
em {
  color: #e56c69;
}

/* line 72, ../sass/main.scss */
span {
  font-weight: 300;
  font-size: 37px;
}

/* line 76, ../sass/main.scss */
nav, div, footer {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  /* line 76, ../sass/main.scss */
  nav, div, footer {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  /* line 76, ../sass/main.scss */
  nav, div, footer {
    min-width: 410px;
    width: 80%;
  }
}

/* HEADER TYYLIT */
/* line 87, ../sass/main.scss */
header {
  background: url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
}
@media screen and (min-width: 980px) {
  /* line 87, ../sass/main.scss */
  header {
    height: 240px;
    background: url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
  }
}

/* line 94, ../sass/main.scss */
nav {
  padding: 134px 0 0 0;
  background: url(../img/logo.png) no-repeat 0 94px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 980px) {
  /* line 94, ../sass/main.scss */
  nav {
    text-align: right;
  }
}

/* line 103, ../sass/main.scss */
nav h1 {
  margin: -12px 0 0 100px;
  font-size: 36px;
}
@media screen and (min-width: 980px) {
  /* line 103, ../sass/main.scss */
  nav h1 {
    float: left;
  }
}

/* line 111, ../sass/main.scss */
nav ul {
  font-size: 14px;
}
@media screen and (min-width: 980px) {
  /* line 111, ../sass/main.scss */
  nav ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 980px) {
  /* line 111, ../sass/main.scss */
  nav ul {
    margin: 44px 0 0 0;
    padding: 0 0 24px 0;
  }
}

/* line 121, ../sass/main.scss */
nav ul li {
  margin-left: 0px;
  padding: 5px;
  -webkit-transition: all, 0.5s ease-in;
  -moz-transition: all, 0.5s ease-in;
  -o-transition: all, 0.5s ease-in;
  transition: all, 0.5s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  /* line 121, ../sass/main.scss */
  nav ul li {
    display: inline;
  }
}

/* line 131, ../sass/main.scss */
nav ul li:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 980px) {
  /* line 134, ../sass/main.scss */
  nav ul:nth-of-type(2) {
    display: none;
  }
}

/* line 139, ../sass/main.scss */
nav ul:nth-of-type(2) li {
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 980px) {
  /* line 139, ../sass/main.scss */
  nav ul:nth-of-type(2) li {
    display: none;
  }
}

/* line 146, ../sass/main.scss */
nav ul:nth-of-type(1) li:before {
  content: url(../img/nuoli12.gif) " ";
}

/* line 149, ../sass/main.scss */
nav ul:nth-of-type(2) li:before {
  content: url(../img/nuoli22.gif) " ";
}

/* GLOBAALIT CONTENT TYYLIT */
/* line 153, ../sass/main.scss */
section {
  background: url(../img/dot2.gif) bottom repeat-x #f9f9f9;
}

/* line 156, ../sass/main.scss */
div.etusivu, div.rajoite, div.rajoitteet {
  padding: 30px 0 30px 0;
}

/* ETUSIVU TYYLIT */
@media screen and (min-width: 980px) {
  /* line 160, ../sass/main.scss */
  div.etusivu {
    background: url(../img/mainbg.png) no-repeat;
  }
}

/* line 165, ../sass/main.scss */
div.etusivu article {
  background-color: white;
  opacity: 0.9;
  padding: 50px 50px 50px 50px;
}
@media screen and (min-width: 980px) {
  /* line 165, ../sass/main.scss */
  div.etusivu article {
    margin: 0 0 40px 410px;
  }
}
@media screen and (max-width: 980px) {
  /* line 165, ../sass/main.scss */
  div.etusivu article {
    margin: 0 0 40px 0;
  }
}

/* line 176, ../sass/main.scss */
div.etusivu article h1 {
  margin: 0 0 30px 0;
}

/* line 179, ../sass/main.scss */
div.etusivu article h2:nth-of-type(1) {
  font-size: 18px;
  line-height: 125%;
}

/* line 183, ../sass/main.scss */
div.etusivu article h2:nth-of-type(2), div.rajoite > p {
  color: white;
  background-color: #e56c69;
  height: 30px;
  margin: 30px 0 0 0;
  -webkit-transition: background, 0.5s ease-in;
  -moz-transition: background, 0.5s ease-in;
  -o-transition: background, 0.5s ease-in;
  transition: background, 0.5s ease-in;
}
@media screen and (min-width: 980px) {
  /* line 183, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2), div.rajoite > p {
    background: #e56c69 url(../img/nuoli3.png) no-repeat 40px;
    text-align: right;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.5s ease-in;
    -moz-transition: background, 0.5s ease-in;
    -o-transition: background, 0.5s ease-in;
    transition: background, 0.5s ease-in;
  }
}
@media screen and (max-width: 980px) {
  /* line 183, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2), div.rajoite > p {
    text-align: center;
    padding: 14px 0 0 0;
    -webkit-transition: background, 0.5s ease-in;
    -moz-transition: background, 0.5s ease-in;
    -o-transition: background, 0.5s ease-in;
    transition: background, 0.5s ease-in;
  }
}

@media screen and (min-width: 980px) {
  /* line 201, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover {
    background: #dd413e url(../img/nuoli3.png) no-repeat 45px;
  }
}
@media screen and (max-width: 980px) {
  /* line 201, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover {
    background: #dd413e;
  }
}

/* RAJOITE TYYLIT */
/* line 210, ../sass/main.scss */
.rajoite h1 {
  margin: 0 0 30px 0;
}

/* line 213, ../sass/main.scss */
.rajoite p {
  font-size: 14px;
}

/* line 216, ../sass/main.scss */
.rajoite article {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 980px) {
  /* line 216, ../sass/main.scss */
  .rajoite article {
    padding: 60px 40px 60px 160px;
  }
}
@media screen and (max-width: 980px) {
  /* line 216, ../sass/main.scss */
  .rajoite article {
    padding: 60px 40px 60px 40px;
  }
}

@media screen and (min-width: 980px) {
  /* line 225, ../sass/main.scss */
  .rajoite article:nth-of-type(1) {
    background: url(../img/punviiva.gif) top repeat-x, url(../img/kielto.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  /* line 225, ../sass/main.scss */
  .rajoite article:nth-of-type(1) {
    background: url(../img/punviiva.gif) top repeat-x white;
  }
}

@media screen and (min-width: 980px) {
  /* line 233, ../sass/main.scss */
  .rajoite article:nth-of-type(2) {
    background: url(../img/harviiva.gif) top repeat-x, url(../img/info.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  /* line 233, ../sass/main.scss */
  .rajoite article:nth-of-type(2) {
    background: url(../img/harviiva.gif) top repeat-x white;
  }
}

@media screen and (min-width: 980px) {
  /* line 241, ../sass/main.scss */
  .rajoite article:nth-of-type(3) {
    background: url(../img/punviiva.gif) top repeat-x, url(../img/hlo.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  /* line 241, ../sass/main.scss */
  .rajoite article:nth-of-type(3) {
    background: url(../img/punviiva.gif) top repeat-x white;
  }
}

/* line 249, ../sass/main.scss */
div.rajoite > p {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* RAJOITTEET TYYLIT */
/* line 256, ../sass/main.scss */
.rajoitteet h1 {
  margin: 0 0 30px 0;
}

/* line 259, ../sass/main.scss */
.rajoitteet ul {
  font-size: 12px;
}

/* line 262, ../sass/main.scss */
.rajoitenavi ul:nth-of-type(1) {
  float: left;
}
@media screen and (max-width: 980px) {
  /* line 262, ../sass/main.scss */
  .rajoitenavi ul:nth-of-type(1) {
    float: none;
    margin: 0 auto;
  }
}

/* line 269, ../sass/main.scss */
.rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
  float: right;
}
@media screen and (max-width: 980px) {
  /* line 269, ../sass/main.scss */
  .rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
    float: none;
    margin: 20px 0 0 0;
  }
}

/* line 276, ../sass/main.scss */
.rajoitteet ul li {
  position: relative;
  padding: 5px;
  margin: 0 5px 0 0;
  display: inline;
}

/* line 282, ../sass/main.scss */
.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
  content: url(../img/harnuolivas.gif) " ";
}

/* line 285, ../sass/main.scss */
.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
  content: " " url(../img/harnuoli.gif);
}

/* line 288, ../sass/main.scss */
.valittu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #e56c69;
  color: white;
}

/* line 293, ../sass/main.scss */
.rajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) bottom repeat-x;
  height: 25px;
}
@media screen and (max-width: 980px) {
  /* line 293, ../sass/main.scss */
  .rajoitenavi {
    height: 50px;
  }
}

/* line 302, ../sass/main.scss */
.alarajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) top repeat-x;
  margin: 8px 0 0 0;
  padding: 12px 0 0 0;
}

/* line 309, ../sass/main.scss */
.rajoitteet article {
  text-align: left;
  background: url(../img/harviiva.gif) bottom repeat-x;
  height: 80px;
  margin: 8px 0 0 0;
}

/* line 315, ../sass/main.scss */
.rajoitteet article:nth-of-type(2n-1) {
  background: url(../img/harviiva.gif) bottom repeat-x white;
}

/* line 319, ../sass/main.scss */
.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
  float: left;
  margin: 30px 0 0 30px;
}

/* line 323, ../sass/main.scss */
.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
  text-align: center;
  font-size: 12px;
  width: 140px;
  float: right;
  margin: 28px 0 0 0px;
}

/* line 330, ../sass/main.scss */
.rajoitteet p:nth-of-type(3) {
  margin: 34px 0 0 0px;
}

/* line 333, ../sass/main.scss */
.rajoitteet h4 {
  color: #e56c69;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0 0px;
  width: 140px;
}
@media screen and (max-width: 980px) {
  /* line 333, ../sass/main.scss */
  .rajoitteet h4 {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  /* line 343, ../sass/main.scss */
  .rajoitteet article p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  /* line 348, ../sass/main.scss */
  .rajoitteet article p:first-of-type {
    display: block;
  }
}

@media screen and (max-width: 784px) {
  /* line 353, ../sass/main.scss */
  .rajoitteet article p:nth-of-type(3) {
    display: none;
  }
}

/* line 358, ../sass/main.scss */
.rajoitteet a {
  -webkit-transition: all, 0.5s ease-in;
  -moz-transition: all, 0.5s ease-in;
  -o-transition: all, 0.5s ease-in;
  transition: all, 0.5s ease-in;
}

/* line 361, ../sass/main.scss */
.rajoitteet a:hover {
  color: #e56c69;
}

/* line 364, ../sass/main.scss */
.bar {
  margin: 0;
  min-width: 0;
  position: relative;
  top: 76px;
  height: 4px;
  background-color: #e56c69;
}

/* FOOTER TYYLIT */
/* line 373, ../sass/main.scss */
footer {
  color: #666;
  padding: 40px 0 200px 0;
}

/* line 377, ../sass/main.scss */
footer a {
  color: #e56c69;
  -webkit-transition: all, 0.5s ease-in;
  -moz-transition: all, 0.5s ease-in;
  -o-transition: all, 0.5s ease-in;
  transition: all, 0.5s ease-in;
}

/* line 381, ../sass/main.scss */
footer a:hover {
  color: #dd413e;
}

/* line 384, ../sass/main.scss */
footer p, footer ul {
  font-size: 13px;
  width: 220px;
  float: left;
  margin: 0 0 40px 20px;
  padding: 0 0 0 70px;
}

/* line 391, ../sass/main.scss */
footer p a:after {
  content: " " url(../img/nuoli4.png);
}

/* line 394, ../sass/main.scss */
footer p:nth-of-type(1) {
  background: url(../img/raksi.png) no-repeat;
}

/* line 397, ../sass/main.scss */
footer p:nth-of-type(2) {
  background: url(../img/affa.png) no-repeat;
}

/* line 400, ../sass/main.scss */
footer ul li {
  margin: 0 0 5px 0;
}
