@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
/* Eric Meyer: Reset CSS v2.0 via http://cssreset.com */
/* line 38, ../sass/main.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 38, ../sass/main.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 38, ../sass/main.scss */
body {
  line-height: 1;
}

/* line 38, ../sass/main.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../sass/main.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/main.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 38, ../sass/main.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Kansalaisrajoite */
/* line 41, ../sass/main.scss */
body {
  font-family: "Merriweather Sans", sans-serif;
  background: white;
  color: #111;
}

/* line 46, ../sass/main.scss */
h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

/* line 51, ../sass/main.scss */
h2 {
  font-size: 16px;
  font-weight: 400;
}

/* line 55, ../sass/main.scss */
p {
  font-weight: 300;
}

/* line 58, ../sass/main.scss */
a {
  color: inherit;
  text-decoration: none;
}

/* HEADER TYYLIT */
/* line 63, ../sass/main.scss */
header {
  background: url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
}
@media screen and (min-width: 980px) {
  /* line 63, ../sass/main.scss */
  header {
    height: 240px;
    background: url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
  }
}

/* line 70, ../sass/main.scss */
nav, div, footer {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  /* line 70, ../sass/main.scss */
  nav, div, footer {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  /* line 70, ../sass/main.scss */
  nav, div, footer {
    width: 410px;
  }
}

/* line 79, ../sass/main.scss */
nav {
  padding: 134px 0 0 0;
  background: url(../img/logo.png) no-repeat 0 94px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 980px) {
  /* line 79, ../sass/main.scss */
  nav {
    text-align: right;
  }
}

/* line 88, ../sass/main.scss */
em {
  color: #e56c69;
}

/* line 91, ../sass/main.scss */
nav h1 {
  margin: -12px 0 0 100px;
  font-size: 36px;
}
@media screen and (min-width: 980px) {
  /* line 91, ../sass/main.scss */
  nav h1 {
    float: left;
  }
}

/* line 99, ../sass/main.scss */
nav ul {
  font-size: 14px;
}
@media screen and (min-width: 980px) {
  /* line 99, ../sass/main.scss */
  nav ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 980px) {
  /* line 99, ../sass/main.scss */
  nav ul {
    margin: 44px 0 0 0;
    padding: 0 0 24px 0;
  }
}

/* line 109, ../sass/main.scss */
nav ul li {
  margin-left: 0px;
  padding: 5px;
  -webkit-transition: all, 0.5s ease-in;
  -moz-transition: all, 0.5s ease-in;
  -o-transition: all, 0.5s ease-in;
  transition: all, 0.5s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  /* line 109, ../sass/main.scss */
  nav ul li {
    display: inline;
  }
}

/* line 119, ../sass/main.scss */
nav ul li:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 980px) {
  /* line 122, ../sass/main.scss */
  nav ul:nth-of-type(2) {
    display: none;
  }
}

/* line 127, ../sass/main.scss */
nav ul:nth-of-type(2) li {
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 980px) {
  /* line 127, ../sass/main.scss */
  nav ul:nth-of-type(2) li {
    display: none;
  }
}

/* line 134, ../sass/main.scss */
nav ul:nth-of-type(1) li:before {
  content: url(../img/nuoli12.gif) " ";
}

/* line 137, ../sass/main.scss */
nav ul:nth-of-type(2) li:before {
  content: url(../img/nuoli22.gif) " ";
}

/* CONTENT TYYLIT */
/* line 141, ../sass/main.scss */
section {
  background: url(../img/dot2.gif) bottom repeat-x #f9f9f9;
}

/* ETUSIVU TYYLIT */
/* line 145, ../sass/main.scss */
div.etusivu {
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 980px) {
  /* line 145, ../sass/main.scss */
  div.etusivu {
    background: url(../img/mainbg.png) no-repeat;
  }
}

/* line 151, ../sass/main.scss */
div.etusivu article {
  background-color: white;
  opacity: 0.9;
  padding: 50px 50px 50px 50px;
}
@media screen and (min-width: 980px) {
  /* line 151, ../sass/main.scss */
  div.etusivu article {
    margin: 0 0 40px 410px;
  }
}
@media screen and (max-width: 980px) {
  /* line 151, ../sass/main.scss */
  div.etusivu article {
    margin: 0 0 40px 0;
  }
}

/* line 162, ../sass/main.scss */
div.etusivu article h1 {
  margin: 0 0 30px 0;
}

/* line 165, ../sass/main.scss */
div.etusivu article h2:nth-of-type(1) {
  font-size: 18px;
  line-height: 125%;
}

/* line 169, ../sass/main.scss */
div.etusivu article h2:nth-of-type(2), div.rajoite > p {
  color: white;
  background-color: #e56c69;
  height: 30px;
  margin: 30px 0 0 0;
  -webkit-transition: background, 0.5s ease-in;
  -moz-transition: background, 0.5s ease-in;
  -o-transition: background, 0.5s ease-in;
  transition: background, 0.5s ease-in;
}
@media screen and (min-width: 980px) {
  /* line 169, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2), div.rajoite > p {
    background: #e56c69 url(../img/nuoli3.png) no-repeat 40px;
    text-align: right;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.5s ease-in;
    -moz-transition: background, 0.5s ease-in;
    -o-transition: background, 0.5s ease-in;
    transition: background, 0.5s ease-in;
  }
}
@media screen and (max-width: 980px) {
  /* line 169, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2), div.rajoite > p {
    text-align: center;
    padding: 14px 0 0 0;
    -webkit-transition: background, 0.5s ease-in;
    -moz-transition: background, 0.5s ease-in;
    -o-transition: background, 0.5s ease-in;
    transition: background, 0.5s ease-in;
  }
}

@media screen and (min-width: 980px) {
  /* line 187, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover {
    background: #dd413e url(../img/nuoli3.png) no-repeat 45px;
  }
}
@media screen and (max-width: 980px) {
  /* line 187, ../sass/main.scss */
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover {
    background: #dd413e;
  }
}

/* RAJOITE TYYLIT */
/* line 196, ../sass/main.scss */
div.rajoite {
  padding: 30px 0 30px 0;
}

/* line 199, ../sass/main.scss */
div.rajoite h1 {
  margin: 0 0 30px 0;
}

/* line 202, ../sass/main.scss */
div.rajoite p {
  font-size: 14px;
}

/* line 205, ../sass/main.scss */
div.rajoite article {
  padding: 60px 40px 60px 160px;
  margin: 0 0 30px 0;
}

/* line 209, ../sass/main.scss */
div.rajoite article:nth-of-type(1) {
  background: url(../img/punviiva.gif) top repeat-x, url(../img/kielto.png) 40px 32px no-repeat white;
}

/* line 212, ../sass/main.scss */
div.rajoite article:nth-of-type(2) {
  background: url(../img/harviiva.gif) top repeat-x, url(../img/info.png) 40px 32px no-repeat white;
}

/* line 215, ../sass/main.scss */
div.rajoite article:nth-of-type(3) {
  background: url(../img/punviiva.gif) top repeat-x, url(../img/hlo.png) 40px 32px no-repeat white;
}

/* line 218, ../sass/main.scss */
div.rajoite > p {
  max-width: 410px;
  margin: 0 auto;
}

/* FOOTER TYYLIT */
/* line 223, ../sass/main.scss */
footer {
  color: #666;
  padding: 40px 0 200px 0;
}

/* line 227, ../sass/main.scss */
footer a {
  color: #e56c69;
  -webkit-transition: all, 0.5s ease-in;
  -moz-transition: all, 0.5s ease-in;
  -o-transition: all, 0.5s ease-in;
  transition: all, 0.5s ease-in;
}

/* line 231, ../sass/main.scss */
footer a:hover {
  color: #dd413e;
}

/* line 234, ../sass/main.scss */
footer p, footer ul {
  font-size: 13px;
  width: 220px;
  float: left;
  margin: 0 0 40px 20px;
  padding: 0 0 0 70px;
}

/* line 241, ../sass/main.scss */
footer p a:after {
  content: " " url(../img/nuoli4.png);
}

/* line 244, ../sass/main.scss */
footer p:nth-of-type(1) {
  background: url(../img/raksi.png) no-repeat;
}

/* line 247, ../sass/main.scss */
footer p:nth-of-type(2) {
  background: url(../img/affa.png) no-repeat;
}

/* line 250, ../sass/main.scss */
footer ul li {
  margin: 0 0 5px 0;
}
