@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
@import "compass";
$themecolor: #e56c69;
$headergray: #dcdcdc;
$semigray: #f9f9f9;
$break: 980px;

@mixin transition($transition...) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition; 
}
@mixin columns($column-count, $column-width, $column-gap) {
  -webkit-column-count: $column-count;
  -moz-column-count: $column-count;
  -o-column-count: $column-count;
  column-count: $column-count;
  -webkit-column-width: $column-width;
  -moz-column-width: $column-width;
  -o-column-width: $column-width;
  column-width: $column-width;
  -webkit-column-gap: $column-gap;
  -moz-column-gap: $column-gap;
  -o-column-gap: $column-gap;
  column-gap: $column-gap;
}
@mixin border-radius($border-radius) {
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-o-border-radius: $border-radius;
	border-radius: $border-radius;
}

/* Eric Meyer: Reset CSS v2.0 via http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h7,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Kansalaisrajoite */
body {
	font-family: 'Merriweather Sans', sans-serif;
	background:white;
	color:#111;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:28px;
	font-weight:700;
}
h2 {
	font-size:16px;
	font-weight:400;
}
h3 {
	font-size:14px;
	font-weight:700;
	margin:0 0 5px 0;
}
p {
	font-weight:300;
}
a {
	color:inherit;
	text-decoration:none;
}
/* HEADER TYYLIT */
header {
	background:url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	@media screen and (min-width:$break) {
		height:240px;
		background:url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	}
}
nav,div,footer {
	@media screen and (min-width:$break){
			width:960px;
	}
	@media screen and (max-width:$break){
			width:410px;
	}
	margin:0 auto;
}
nav {
	padding:134px 0 0 0;
	background:url(../img/logo.png) no-repeat 0 94px;
	@media screen and (min-width:$break) {
		text-align:right;
	}
	font-weight:bold;
	color:white;
}
em {
	color:$themecolor;
}
nav h1 {
	@media screen and (min-width:$break) {
		float:left;
	}
	margin:-12px 0 0 100px;
	font-size:36px;
}

nav ul {
	@media screen and (min-width:$break) {
		margin-bottom:30px;
	}
	font-size:14px;
	@media screen and (max-width:$break) {
		margin:44px 0 0 0;
		padding:0 0 24px 0;
	}
}
nav ul li {
	@media screen and (min-width:$break) {
		display:inline;
	}
	margin-left:0px;
	padding:5px;
	@include transition(all, 0.5s ease-in);
	@include border-radius(4px);
	color:$themecolor;
}
nav ul li:hover {
	background:lighten($headergray, 3%);
}
nav ul:nth-of-type(2) {
	@media screen and (max-width:$break) {
		display:none;
	}
}
nav ul:nth-of-type(2) li {
	@media screen and (max-width:$break) {
		display:none;
	}
	font-size:12px;
	color:white;
}
nav ul:nth-of-type(1) li:before {
	content:url(../img/nuoli12.gif) " ";
}
nav ul:nth-of-type(2) li:before {
	content:url(../img/nuoli22.gif) " ";
}
/* CONTENT TYYLIT */
section {
	background:url(../img/dot2.gif) bottom repeat-x $semigray;
}
/* ETUSIVU TYYLIT */
div.etusivu {
	@media screen and (min-width:$break){
			background:url(../img/mainbg.png) no-repeat;
	}
	padding:20px 0 20px 0;
}
div.etusivu article {
	background-color:white;
	opacity:0.9;
	@media screen and (min-width:$break){
			margin:0 0 40px 410px;
	}
	@media screen and (max-width:$break){
			margin:0 0 40px 0;
	}
	padding:50px 50px 50px 50px;
}
div.etusivu article h1 {
	margin:0 0 30px 0;
}
div.etusivu article h2:nth-of-type(1) {
	font-size:18px;
	line-height:125%;
}
div.etusivu article h2:nth-of-type(2), div.rajoite > p {
	color:white;
	background-color:$themecolor;
	@media screen and (min-width:$break){
			background:$themecolor url(../img/nuoli3.png) no-repeat 40px;
			text-align:right;
			padding:14px 28px 0 0;
			@include transition(background, 0.5s ease-in);
	}
	@media screen and (max-width:$break){
			text-align:center;
			padding:14px 0 0 0;
			@include transition(background, 0.5s ease-in);
	}	
	height:30px;
	margin:30px 0 0 0;
	@include transition(background, 0.5s ease-in);
}
div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover {
	@media screen and (min-width:$break){
		background:darken($themecolor, 10%) url(../img/nuoli3.png) no-repeat 45px;
	}
	@media screen and (max-width:$break){
		background:darken($themecolor, 10%);
	}
}
/* RAJOITE TYYLIT */
div.rajoite {
	padding:30px 0 30px 0;
}
div.rajoite h1 {
	margin:0 0 30px 0;
}
div.rajoite p {
	font-size:14px;
}
div.rajoite article {
	@media screen and (min-width:$break) {
		padding:60px 40px 60px 160px;
	}
	@media screen and (max-width:$break) {
		padding:60px 40px 60px 40px;
	}
	margin:0 0 30px 0;
}
div.rajoite article:nth-of-type(1) {
	@media screen and (min-width:$break) {
		background:url(../img/punviiva.gif) top repeat-x, url(../img/kielto.png) 40px 32px no-repeat white;
	}
	@media screen and (max-width:$break) {
		background:url(../img/punviiva.gif) top repeat-x white;
	}
}
div.rajoite article:nth-of-type(2) {
	@media screen and (min-width:$break) {
		background:url(../img/harviiva.gif) top repeat-x, url(../img/info.png) 40px 32px no-repeat white;
	}
	@media screen and (max-width:$break) {
		background:url(../img/harviiva.gif) top repeat-x white;
	}
}
div.rajoite article:nth-of-type(3) {
	@media screen and (min-width:$break) {
		background:url(../img/punviiva.gif) top repeat-x, url(../img/hlo.png) 40px 32px no-repeat white;
	}
	@media screen and (max-width:$break) {
		background:url(../img/punviiva.gif) top repeat-x white;
	}
}
div.rajoite > p {
	max-width:410px;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:40px;
}
/* FOOTER TYYLIT */
footer {
	color:#666;
	padding:40px 0 200px 0;
}
footer a {
	color:$themecolor;
	@include transition(all, 0.5s ease-in);
}
footer a:hover {
	color:darken($themecolor, 10%);
}
footer p, footer ul {
	font-size:13px;
	width:220px;
	float:left;
	margin:0 0 40px 20px;
	padding:0 0 0 70px;
}
footer p a:after {
	content:" "url(../img/nuoli4.png);
}
footer p:nth-of-type(1) {
	background:url(../img/raksi.png) no-repeat;
}
footer p:nth-of-type(2) {
	background:url(../img/affa.png) no-repeat;
}
footer ul li {
	margin:0 0 5px 0;
}