@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Kansalaisrajoite */
/* COMMON TYY */
body {
  font-family: 'Merriweather Sans', sans-serif;
  background: white;
  color: #111;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  color: #e56c69;
}

span {
  font-weight: 300;
  font-size: 37px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

nav, footer {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  nav, footer {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  nav, footer {
    min-width: 410px;
    width: 80%;
  }
}

.hidden {
  display: none;
}

/* HEADER STYLES */
header {
  background: url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
}
@media screen and (min-width: 980px) {
  header {
    height: 240px;
    background: url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
  }
}
header div {
  margin: 0 auto;
  color: white;
  font-size: 12px;
  margin: 0 auto;
  padding: 7px 0 0 0;
  text-align: right;
}
@media screen and (min-width: 980px) {
  header div {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  header div {
    min-width: 410px;
    width: 80%;
  }
}
header div p span {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 4px 4px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}
header div p span:hover {
  background: #2a2a2a;
}
header div p span:after {
  content: " " url(../img/nuoli4b.png);
}

nav {
  padding: 106px 0 0 0;
  background: url(../img/logo.png) no-repeat 0 66px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 980px) {
  nav {
    text-align: right;
  }
}
nav h1 {
  margin: -12px 0 0 100px;
  font-size: 36px;
}
@media screen and (min-width: 980px) {
  nav h1 {
    float: left;
  }
}
nav ul {
  font-size: 14px;
}
@media screen and (min-width: 980px) {
  nav ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 980px) {
  nav ul {
    margin: 44px 0 0 0;
    padding: 0 0 24px 0;
  }
}
nav ul:nth-of-type(1) li:before {
  content: url(../img/nuoli12.gif) " ";
}
@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) {
    display: none;
  }
}
nav ul:nth-of-type(2) li {
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) li {
    display: none;
  }
  nav ul:nth-of-type(2) li:before {
    content: url(../img/nuoli22.gif) " ";
  }
}
nav ul li {
  margin-left: 0px;
  padding: 5px;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  nav ul li {
    display: inline;
  }
}
nav ul li:hover {
  background: #e4e4e4;
}

/* GLOBAL CONTENT STYLES */
section {
  background: url(../img/dot2.gif) bottom repeat-x #f9f9f9;
}

div.etusivu, div.rajoite, div.rajoitteet {
  padding: 30px 0 30px 0;
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  div.etusivu, div.rajoite, div.rajoitteet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu, div.rajoite, div.rajoitteet {
    min-width: 410px;
    width: 80%;
  }
}

/* ETUSIVU STYLES */
div.etusivu {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  div.etusivu {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu {
    min-width: 410px;
    width: 80%;
  }
}
@media screen and (min-width: 980px) {
  div.etusivu {
    background: url(../img/mainbg.png) no-repeat;
  }
}
div.etusivu article {
  background-color: white;
  opacity: 0.9;
  padding: 50px 50px 50px 50px;
}
@media screen and (min-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 410px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 0;
  }
}
div.etusivu article h1 {
  margin: 0 0 30px 0;
}
div.etusivu article h2:nth-of-type(1) {
  padding-top: 11px;
  margin: 2px 0 2px 0;
  font-size: 18px;
  line-height: 100%;
}

.painike {
  color: white;
  background-color: #e56c69;
  height: 30px;
  margin-top: 30px;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
@media screen and (min-width: 980px) {
  .painike {
    background: #e56c69 url(../img/nuoli3.png) no-repeat 30px;
    text-align: right;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}
@media screen and (max-width: 980px) {
  .painike {
    text-align: center;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}
@media screen and (min-width: 980px) {
  .painike:hover {
    background: #e15753 url(../img/nuoli3.png) no-repeat 33px;
  }
}
@media screen and (max-width: 980px) {
  .painike:hover {
    background: #e15753;
  }
}

/* RAJOITE STYLES */
.rajoite h1 {
  margin: 0 0 30px 0;
}
.rajoite article {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 160px;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 40px;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url("../img/punviiva.gif") top repeat-x, url("../img/kielto.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url("../img/punviiva.gif") top repeat-x white;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url("../img/harviiva.gif") top repeat-x, url("../img/info.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url("../img/harviiva.gif") top repeat-x white;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url("../img/punviiva.gif") top repeat-x, url("../img/hlo.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url("../img/punviiva.gif") top repeat-x white;
  }
}

/* KIRJAUDU STYLES */
.reglog article {
  padding: 20px;
  width: 400px;
  margin-top: 20px;
  margin: 0 auto;
  background: white;
}
.reglog article p {
  font-size: 12px;
}
.reglog article:nth-of-type(2) p {
  color: white;
  background: url(../img/fblogo.png) no-repeat 40px 6px #3b5998;
  padding: 13px;
  text-align: right;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
.reglog article:nth-of-type(2) p:hover {
  background: #344e86 url(../img/fblogo.png) no-repeat 43px;
}
.reglog article:nth-of-type(3) {
  padding: 0;
}
.reglog input {
  margin: 4px 0 10px 0;
  padding-left: 6px;
}
.reglog textarea {
  resize: vertical;
}

.regtip {
  text-align: center;
  margin-top: 20px;
}
.regtip a {
  color: #e56c69;
}
.regtip:nth-of-type(1) {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.tip {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 14px;
}

#alemma {
  margin-top: 24px;
}

.kirjaudukentta {
  background: #f9f9f9;
  width: 100%;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.infoboksi, .alert, .info {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  border: solid 4px #e56c69;
  margin: 10px 0 20px 0;
  height: 48px;
  width: 400px;
}

.alert {
  background: url(../img/alert2.png) no-repeat 0 0;
  padding: 15px 10px 3px 50px;
}

.info {
  margin: 0 auto;
  padding: 11px 10px 3px 50px;
  background: url(../img/done.png) no-repeat 0 0 white;
  font-size: 18px;
}

/* RAJOITTEET STYLES */
.rajoitteet h1 {
  margin: 0 0 30px 0;
}
.rajoitteet ul {
  font-size: 12px;
}
@media screen and (max-width: 980px) {
  .rajoitteet ul:nth-of-type(1) {
    float: none;
    margin: 0 auto;
  }
}
.rajoitteet ul li {
  position: relative;
  padding: 5px;
  margin: 0 5px 0 0;
  display: inline;
}
.rajoitteet article {
  text-align: left;
  background: url(../img/harviiva.gif) bottom repeat-x;
  height: 80px;
  margin: 8px 0 0 0;
}
.rajoitteet article:nth-of-type(2n-1) {
  background: url(../img/harviiva.gif) bottom repeat-x white;
}

.rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
  float: right;
}
@media screen and (max-width: 980px) {
  .rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
    float: none;
    margin: 20px 0 0 0;
  }
}

.rajoitenavi ul {
  float: left;
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
  content: url(../img/harnuolivas.gif) " ";
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
  content: " " url(../img/harnuoli.gif);
}

.valittu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #e56c69;
  color: white;
}

.rajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) bottom repeat-x;
  height: 25px;
}
@media screen and (max-width: 980px) {
  .rajoitenavi {
    height: 75px;
  }
}

.alarajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) top repeat-x;
  margin: 8px 0 0 0;
  padding: 12px 0 0 0;
}

.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
  float: left;
  margin: 30px 0 0 30px;
}

.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
  text-align: center;
  font-size: 12px;
  width: 140px;
  float: right;
  margin: 28px 0 0 0px;
}

.rajoitteet p:nth-of-type(3) {
  margin: 34px 0 0 0px;
}

.rajoitteet h4 {
  color: #e56c69;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0 0px;
  width: 140px;
}
@media screen and (max-width: 980px) {
  .rajoitteet h4 {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:first-of-type {
    display: block;
  }
}

@media screen and (max-width: 784px) {
  .rajoitteet article p:nth-of-type(3) {
    display: none;
  }
}

.rajoitteet a {
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}
.rajoitteet a:hover {
  color: #e56c69;
}

.bar {
  margin: 0;
  min-width: 0;
  position: relative;
  top: 76px;
  height: 4px;
  background-color: #e56c69;
}

.voted:after {
  content: url(../img/voted.png) " ";
}

/* TEE RAJOITE STYLES */
div.teerajoite, div.tiedotteet {
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 980px) {
  div.teerajoite, div.tiedotteet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.teerajoite, div.tiedotteet {
    min-width: 410px;
    width: 80%;
  }
}

div.rajoite > p {
  margin-bottom: 30px;
  line-height: 20px;
}
div.rajoite > p a {
  color: #e56c69;
}

form.teerajoite {
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}
form.teerajoite h2 {
  margin-bottom: 10px;
}
form.teerajoite span {
  margin: 0 10px 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #e56c69;
}

form.teerajoite p {
  margin: 20px 0 4px 0;
}

.kielletaantable {
  width: 100%;
  table-layout: fixed;
}

.kielletaantablekielletaan {
  width: 90px;
}

.teerajoitekentta, .teerajoitekentta2 {
  background: #f9f9f9;
  width: 50%;
  padding-left: 6px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.teerajoitekentta2 {
  display: inline;
  width: 100%;
}

form.teerajoite textarea {
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
  resize: vertical;
}

form.teerajoite textarea:focus, form.teerajoite input:focus, form.kirjautuminen textarea:focus, form.kirjautuminen input:focus {
  border: 1px solid #e56c69;
  outline: none;
}

.painike {
  display: block;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 30px auto;
  border: none;
  width: 100%;
  max-width: 410px;
  height: 40px;
  padding: 0 20px;
}

#kannata {
  max-width: 370px;
  height: 30px;
  padding: 10px 20px 0 20px;
  font-weight: 400;
}

/* TIEDOTTEET STYLES */
.tiedotteet h1, .tiedotteet p {
  margin: 20px 0 20px 0;
}

.tiedotteet article {
  background: white;
  margin: 0 0 30px 0;
  padding: 30px;
}
.tiedotteet article a {
  color: #e56c69;
}
.tiedotteet article p {
  line-height: 22px;
}

/* OHJEET STYLES */
.ohjeet {
  padding: 30px 0 30px 0;
  margin: 0 auto;
}
.ohjeet h1 {
  margin-bottom: 30px;
}
.ohjeet .anchor {
  color: black !important;
  margin-bottom: 8px;
}
.ohjeet a {
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  .ohjeet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  .ohjeet {
    min-width: 410px;
    width: 80%;
  }
}
@media screen and (min-width: 980px) {
  .ohjeet aside {
    float: left;
    width: 25%;
  }
}
.ohjeet aside ul li {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 980px) {
  .ohjeet .content {
    float: right;
    width: 65%;
  }
}
.ohjeet .content article {
  padding: 30px;
  background: white;
  margin-bottom: 30px;
}
.ohjeet .content article > * {
  line-height: 18px;
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

/* FOOTER STYLES */
footer {
  color: #666;
  padding: 40px 0 200px 0;
}

footer a {
  color: #e56c69;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}

footer a:hover {
  color: #dd413e;
}

footer p, footer ul {
  font-size: 13px;
  width: 220px;
  float: left;
  margin: 0 0 40px 20px;
  padding: 0 0 0 70px;
}

footer p a:after {
  content: " " url(../img/nuoli4.png);
}

footer p:nth-of-type(1) {
  background: url(../img/raksi.png) no-repeat;
}

footer p:nth-of-type(2) {
  background: url(../img/affa.png) no-repeat;
}

footer ul li {
  margin: 0 0 5px 0;
}
