@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html {
  -webkit-font-smoothing: antialiased;
}

/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
  border-radius: 5px;
  background: #010101;
  color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
  font-family: 'Abel', 'helvetica', 'arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 10px;
  overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
  /* border-color: ... !important; */
}

/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
  cursor: help;
  margin-left: 4px;
}

/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
  padding: 0;
  font-size: 0;
  line-height: 0;
  position: absolute;
  z-index: 9999999;
  pointer-events: none;
  width: auto;
  overflow: visible;
}

.tooltipster-base .tooltipster-content {
  overflow: hidden;
}

/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.tooltipster-arrow span, .tooltipster-arrow-border {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-top: 8px solid;
  bottom: -8px;
}

.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-top: 9px solid;
  bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
  border-left: 8px solid transparent !important;
  border-right: 8px solid transparent !important;
  border-bottom: 8px solid;
  top: -8px;
}

.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  border-left: 9px solid transparent !important;
  border-right: 9px solid transparent !important;
  border-bottom: 9px solid;
  top: -8px;
}

.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
  left: 0;
  right: 0;
  margin: 0 auto;
}

.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
  left: 6px;
}

.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
  left: 5px;
}

.tooltipster-arrow-top-right span, .tooltipster-arrow-bottom-right span {
  right: 6px;
}

.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
  right: 5px;
}

.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-left: 8px solid;
  top: 50%;
  margin-top: -7px;
  right: -8px;
}

.tooltipster-arrow-left .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-left: 9px solid;
  margin-top: -8px;
}

.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 8px solid transparent !important;
  border-bottom: 8px solid transparent !important;
  border-right: 8px solid;
  top: 50%;
  margin-top: -7px;
  left: -8px;
}

.tooltipster-arrow-right .tooltipster-arrow-border {
  border-top: 9px solid transparent !important;
  border-bottom: 9px solid transparent !important;
  border-right: 9px solid;
  margin-top: -8px;
}

/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */
.tooltipster-fade {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}

.tooltipster-fade-show {
  opacity: 1;
}

.tooltipster-grow {
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-backface-visibility: hidden;
}

.tooltipster-grow-show {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-swing {
  opacity: 0;
  -webkit-transform: rotateZ(4deg);
  -moz-transform: rotateZ(4deg);
  -o-transform: rotateZ(4deg);
  -ms-transform: rotateZ(4deg);
  transform: rotateZ(4deg);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
}

.tooltipster-swing-show {
  opacity: 1;
  -webkit-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 1);
  -webkit-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -moz-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -ms-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  -o-transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
  transition-timing-function: cubic-bezier(0.23, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
  top: 0;
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  -ms-transition-property: top;
  transition-property: top;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-fall.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  top: 0px !important;
  opacity: 0;
}

.tooltipster-slide {
  left: -40px;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  -ms-transition-property: left;
  transition-property: left;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.15);
}

.tooltipster-slide.tooltipster-dying {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  -ms-transition-property: all;
  transition-property: all;
  left: 0px !important;
  opacity: 0;
}

/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
  opacity: 0.5;
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

#facebox .popup {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
}

#facebox .popup h1 {
  padding: 10px;
}

#facebox .content {
  display: table;
  width: 400px;
  padding: 0;
  background: #fff;
}

#facebox .content > p:first-child {
  margin-top: 0;
}

#facebox .content > p:last-child {
  margin-bottom: 0;
}

#facebox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background: #fff;
}

#facebox .close img {
  opacity: 0.3;
}

#facebox .close:hover img {
  opacity: 1.0;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.facebox_hide {
  z-index: -100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

/* Kansalaisrajoite */
/* COMMON TYY */
body {
  font-family: 'Merriweather Sans', sans-serif;
  background: white;
  color: #111;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  color: #e56c69;
}

span {
  font-weight: 300;
  font-size: 37px;
}

ol {
  list-style-type: decimal;
  list-style-position: inside;
}

nav, footer {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  nav, footer {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  nav, footer {
    min-width: 410px;
    width: 80%;
  }
}

.hidden {
  display: none;
}

/* HEADER STYLES */
header {
  background: url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
}
@media screen and (min-width: 980px) {
  header {
    height: 240px;
    background: url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
  }
}
header div {
  margin: 0 auto;
  color: white;
  font-size: 12px;
  margin: 0 auto;
  padding: 7px 0 0 0;
  text-align: right;
}
@media screen and (min-width: 980px) {
  header div {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  header div {
    min-width: 410px;
    width: 80%;
  }
}
header div p span {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 4px 4px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}
header div p span:hover {
  background: #2a2a2a;
}
header div p span:after {
  content: " " url(../img/nuoli4b.png);
}

nav {
  padding: 106px 0 0 0;
  background: url(../img/logo.png) no-repeat 0 66px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 980px) {
  nav {
    text-align: right;
  }
}
nav h1 {
  margin: -12px 0 0 100px;
  font-size: 36px;
}
@media screen and (min-width: 980px) {
  nav h1 {
    float: left;
  }
}
nav ul {
  font-size: 14px;
}
@media screen and (min-width: 980px) {
  nav ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 980px) {
  nav ul {
    margin: 44px 0 0 0;
    padding: 0 0 24px 0;
  }
}
nav ul:nth-of-type(1) li:before {
  content: url(../img/nuoli12.gif) " ";
}
@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) {
    display: none;
  }
}
nav ul:nth-of-type(2) li {
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) li {
    display: none;
  }
  nav ul:nth-of-type(2) li:before {
    content: url(../img/nuoli22.gif) " ";
  }
}
nav ul li {
  margin-left: 0px;
  padding: 5px;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  nav ul li {
    display: inline;
  }
}
nav ul li:hover {
  background: #e4e4e4;
}

/* GLOBAL CONTENT STYLES */
section {
  background: url(../img/dot2.gif) bottom repeat-x #f9f9f9;
}

div.etusivu, div.rajoite, div.rajoitteet {
  padding: 30px 0 30px 0;
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  div.etusivu, div.rajoite, div.rajoitteet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu, div.rajoite, div.rajoitteet {
    min-width: 410px;
    width: 80%;
  }
}

/* ETUSIVU STYLES */
div.etusivu {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  div.etusivu {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu {
    min-width: 410px;
    width: 80%;
  }
}
@media screen and (min-width: 980px) {
  div.etusivu {
    background: url(../img/mainbg.png) no-repeat;
  }
}
div.etusivu article {
  background-color: white;
  opacity: 0.9;
  padding: 50px 50px 50px 50px;
}
@media screen and (min-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 410px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 0;
  }
}
div.etusivu article h1 {
  margin: 0 0 30px 0;
}
div.etusivu article h2:nth-of-type(1) {
  padding-top: 11px;
  margin: 2px 0 2px 0;
  font-size: 18px;
  line-height: 100%;
}

.painike, .fbpainike, .twpainike {
  color: white;
  background-color: #e56c69;
  height: 30px;
  margin-top: 30px;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
@media screen and (min-width: 980px) {
  .painike, .fbpainike, .twpainike {
    background: #e56c69 url(../img/nuoli3.png) no-repeat 30px;
    text-align: right;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}
@media screen and (max-width: 980px) {
  .painike, .fbpainike, .twpainike {
    text-align: center;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}
@media screen and (min-width: 980px) {
  .painike:hover, .fbpainike:hover, .twpainike:hover {
    background: #e15753 url(../img/nuoli3.png) no-repeat 33px;
  }
}
@media screen and (max-width: 980px) {
  .painike:hover, .fbpainike:hover, .twpainike:hover {
    background: #e15753;
  }
}

.fbpainike {
  background-color: gainsboro;
}
@media screen and (min-width: 980px) {
  .fbpainike:hover {
    background: #3b5998 url(../img/fbnuoli3.png) no-repeat 33px;
  }
}
@media screen and (max-width: 980px) {
  .fbpainike:hover {
    background: #3B5998;
  }
}

.twpainike {
  background-color: gainsboro;
}
@media screen and (min-width: 980px) {
  .twpainike:hover {
    background: #4099ff url(../img/twnuoli3.png) no-repeat 33px;
  }
}
@media screen and (max-width: 980px) {
  .twpainike:hover {
    background: #4099FF;
  }
}

/* RAJOITE STYLES */
.rajoite h1 {
  float: left;
  margin: 0 0 30px 0;
}
.rajoite article {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 160px;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 40px;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url("../img/punviiva.gif") top repeat-x, url("../img/kielto.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url("../img/punviiva.gif") top repeat-x white;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url("../img/harviiva.gif") top repeat-x, url("../img/info.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url("../img/harviiva.gif") top repeat-x white;
  }
}
@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url("../img/punviiva.gif") top repeat-x, url("../img/hlo.png") 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url("../img/punviiva.gif") top repeat-x white;
  }
}

#tw, #fb {
  float: right;
  height: 32px;
  width: 32px;
  background: url("../img/graytw.png") no-repeat;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
#tw:hover, #fb:hover {
  background: url("../img/bluetw.png") no-repeat;
}

#fb {
  padding: 0 10px 0 0;
  background: url("../img/grayfb.png") no-repeat;
}
#fb:hover {
  background: url("../img/bluefb.png") no-repeat;
}

/* KIRJAUDU STYLES */
.reglog article {
  padding: 20px;
  width: 400px;
  margin-top: 20px;
  margin: 0 auto;
  background: white;
}
.reglog article p {
  font-size: 12px;
}
.reglog article:nth-of-type(2) p {
  color: white;
  background: url(../img/fblogo.png) no-repeat 40px 6px #3b5998;
  padding: 13px;
  text-align: right;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
.reglog article:nth-of-type(2) p:hover {
  background: #344e86 url(../img/fblogo.png) no-repeat 43px;
}
.reglog article:nth-of-type(3) {
  padding: 0;
}
.reglog input {
  margin: 4px 0 10px 0;
  padding-left: 6px;
}
.reglog textarea {
  resize: vertical;
}

.regtip {
  text-align: center;
  margin-top: 20px;
}
.regtip a {
  color: #e56c69;
}
.regtip:nth-of-type(1) {
  font-weight: bold;
  font-size: 14px;
  margin: 10px 0 20px 0;
}

.tip {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 14px;
}

#alemma {
  margin-top: 24px;
}

.kirjaudukentta {
  background: #f9f9f9;
  width: 100%;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.infoboksi, .alert, .info {
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
  border: solid 4px #e56c69;
  margin: 10px 0 20px 0;
  height: 48px;
  width: 400px;
}

.alert {
  background: url(../img/alert2.png) no-repeat 0 0;
  padding: 15px 10px 3px 50px;
}

.info {
  margin: 0 auto;
  padding: 11px 10px 3px 50px;
  background: url(../img/done.png) no-repeat 0 0 white;
  font-size: 18px;
}

/* RAJOITTEET STYLES */
.rajoitteet h1 {
  margin: 0 0 30px 0;
}
.rajoitteet ul {
  font-size: 12px;
}
@media screen and (max-width: 980px) {
  .rajoitteet ul:nth-of-type(1) {
    float: none;
    margin: 0 auto;
  }
}
.rajoitteet ul li {
  position: relative;
  padding: 5px;
  margin: 0 5px 0 0;
  display: inline;
}
.rajoitteet article {
  text-align: left;
  background: url(../img/harviiva.gif) bottom repeat-x;
  height: 80px;
  margin: 8px 0 0 0;
}
.rajoitteet article:nth-of-type(2n-1) {
  background: url(../img/harviiva.gif) bottom repeat-x white;
}

.rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
  float: right;
}
@media screen and (max-width: 980px) {
  .rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
    float: none;
    margin: 20px 0 0 0;
  }
}

.rajoitenavi ul {
  float: left;
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
  content: url(../img/harnuolivas.gif) " ";
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
  content: " " url(../img/harnuoli.gif);
}

.valittu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #e56c69;
  color: white;
}

.rajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) bottom repeat-x;
  height: 25px;
}
@media screen and (max-width: 980px) {
  .rajoitenavi {
    height: 75px;
  }
}

.alarajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) top repeat-x;
  margin: 8px 0 0 0;
  padding: 12px 0 0 0;
}

.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
  float: left;
  margin: 30px 0 0 30px;
}

.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
  text-align: center;
  font-size: 12px;
  width: 140px;
  float: right;
  margin: 28px 0 0 0px;
}

.rajoitteet p:nth-of-type(3) {
  margin: 34px 0 0 0px;
}

.rajoitteet h4 {
  color: #e56c69;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0 0px;
  width: 140px;
}
@media screen and (max-width: 980px) {
  .rajoitteet h4 {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:first-of-type {
    display: block;
  }
}

@media screen and (max-width: 784px) {
  .rajoitteet article p:nth-of-type(3) {
    display: none;
  }
}

.rajoitteet a {
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}
.rajoitteet a:hover {
  color: #e56c69;
}

.bar {
  margin: 0;
  min-width: 0;
  position: relative;
  top: 76px;
  height: 4px;
  background-color: #e56c69;
}

.voted:after {
  content: url(../img/voted.png) " ";
}

/* TEE RAJOITE STYLES */
div.teerajoite, div.tiedotteet {
  margin: 0 auto;
  padding: 20px 0 20px 0;
}
@media screen and (min-width: 980px) {
  div.teerajoite, div.tiedotteet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  div.teerajoite, div.tiedotteet {
    min-width: 410px;
    width: 80%;
  }
}

div.rajoite > p {
  margin-bottom: 30px;
  line-height: 20px;
}
div.rajoite > p a {
  color: #e56c69;
}

form.teerajoite {
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}
form.teerajoite h2 {
  margin-bottom: 10px;
}
form.teerajoite span {
  margin: 0 10px 0 0;
  font-size: 16px;
  font-weight: bold;
  color: #e56c69;
}

form.teerajoite p {
  margin: 20px 0 4px 0;
}

.kielletaantable {
  width: 100%;
  table-layout: fixed;
}

.kielletaantablekielletaan {
  width: 90px;
}

.teerajoitekentta, .teerajoitekentta2 {
  background: #f9f9f9;
  width: 50%;
  padding-left: 6px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.teerajoitekentta2 {
  display: inline;
  width: 100%;
}

form.teerajoite textarea {
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
  resize: vertical;
}

form.teerajoite textarea:focus, form.teerajoite input:focus, form.kirjautuminen textarea:focus, form.kirjautuminen input:focus {
  border: 1px solid #e56c69;
  outline: none;
}

.painike, .fbpainike, .twpainike {
  display: block;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 30px auto;
  border: none;
  width: 100%;
  max-width: 410px;
  height: 40px;
  padding: 0 20px;
}

#kannata {
  max-width: 370px;
  height: 30px;
  padding: 10px 20px 0 20px;
  font-weight: 400;
}

/* TIEDOTTEET STYLES */
.tiedotteet h1, .tiedotteet p {
  margin: 20px 0 20px 0;
}

.tiedotteet article {
  background: white;
  margin: 0 0 30px 0;
  padding: 30px;
}
.tiedotteet article a {
  color: #e56c69;
}
.tiedotteet article p {
  line-height: 22px;
}

/* OHJEET STYLES */
.ohjeet {
  padding: 30px 0 30px 0;
  margin: 0 auto;
}
.ohjeet h1 {
  margin-bottom: 30px;
}
.ohjeet .anchor {
  color: black !important;
  margin-bottom: 8px;
}
.ohjeet a {
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  .ohjeet {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  .ohjeet {
    min-width: 410px;
    width: 80%;
  }
}
@media screen and (min-width: 980px) {
  .ohjeet aside {
    float: left;
    width: 25%;
  }
}
.ohjeet aside ul li {
  display: block;
  margin-bottom: 10px;
}
@media screen and (min-width: 980px) {
  .ohjeet .content {
    float: right;
    width: 65%;
  }
}
.ohjeet .content article {
  padding: 30px;
  background: white;
  margin-bottom: 30px;
}
.ohjeet .content article > * {
  line-height: 18px;
  margin-bottom: 30px;
}

.clear {
  clear: both;
}

/* FOOTER STYLES */
footer {
  color: #666;
  padding: 40px 0 200px 0;
}

footer a {
  color: #e56c69;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}

footer a:hover {
  color: #dd413e;
}

footer p, footer ul {
  font-size: 13px;
  width: 220px;
  float: left;
  margin: 0 0 40px 20px;
  padding: 0 0 0 70px;
}

footer p a:after {
  content: " " url(../img/nuoli4.png);
}

footer p:nth-of-type(1) {
  background: url(../img/raksi.png) no-repeat;
}

footer p:nth-of-type(2) {
  background: url(../img/affa.png) no-repeat;
}

footer ul li {
  margin: 0 0 5px 0;
}
