@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans:400,500,600,700,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
/* Eric Meyer: Reset CSS v2.0 via http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h7, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Kansalaisrajoite */
/* YLEISET TYYLIT */
body {
  font-family: "Merriweather Sans", sans-serif;
  background: white;
  color: #111;
}

h1 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 28px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 400;
}

h3 {
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

p {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  color: #e56c69;
}

span {
  font-weight: 300;
  font-size: 37px;
}

nav, div, footer {
  margin: 0 auto;
}
@media screen and (min-width: 980px) {
  nav, div, footer {
    width: 960px;
  }
}
@media screen and (max-width: 980px) {
  nav, div, footer {
    min-width: 410px;
    width: 80%;
  }
}

/* HEADER TYYLIT */
header {
  background: url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
}
@media screen and (min-width: 980px) {
  header {
    height: 240px;
    background: url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, gainsboro;
  }
}

nav {
  padding: 134px 0 0 0;
  background: url(../img/logo.png) no-repeat 0 94px;
  font-weight: bold;
  color: white;
}
@media screen and (min-width: 980px) {
  nav {
    text-align: right;
  }
}

nav h1 {
  margin: -12px 0 0 100px;
  font-size: 36px;
}
@media screen and (min-width: 980px) {
  nav h1 {
    float: left;
  }
}

nav ul {
  font-size: 14px;
}
@media screen and (min-width: 980px) {
  nav ul {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 980px) {
  nav ul {
    margin: 44px 0 0 0;
    padding: 0 0 24px 0;
  }
}

nav ul li {
  margin-left: 0px;
  padding: 5px;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #e56c69;
}
@media screen and (min-width: 980px) {
  nav ul li {
    display: inline;
  }
}

nav ul li:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) {
    display: none;
  }
}

nav ul:nth-of-type(2) li {
  font-size: 12px;
  color: white;
}
@media screen and (max-width: 980px) {
  nav ul:nth-of-type(2) li {
    display: none;
  }
}

nav ul:nth-of-type(1) li:before {
  content: url(../img/nuoli12.gif) " ";
}

nav ul:nth-of-type(2) li:before {
  content: url(../img/nuoli22.gif) " ";
}

/* GLOBAALIT CONTENT TYYLIT */
section {
  background: url(../img/dot2.gif) bottom repeat-x #f9f9f9;
}

div.etusivu, div.rajoite, div.rajoitteet {
  padding: 30px 0 30px 0;
}

/* ETUSIVU TYYLIT */
@media screen and (min-width: 980px) {
  div.etusivu {
    background: url(../img/mainbg.png) no-repeat;
  }
}

div.etusivu article {
  background-color: white;
  opacity: 0.9;
  padding: 50px 50px 50px 50px;
}
@media screen and (min-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 410px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu article {
    margin: 0 0 40px 0;
  }
}

div.etusivu article h1 {
  margin: 0 0 30px 0;
}

div.etusivu article h2:nth-of-type(1) {
  font-size: 18px;
  line-height: 125%;
}

div.etusivu article h2:nth-of-type(2), div.rajoite > p, .painike {
  color: white;
  background-color: #e56c69;
  height: 30px;
  margin: 30px 0 0 0;
  -webkit-transition: background, 0.2s ease-in;
  -moz-transition: background, 0.2s ease-in;
  -o-transition: background, 0.2s ease-in;
  transition: background, 0.2s ease-in;
}
@media screen and (min-width: 980px) {
  div.etusivu article h2:nth-of-type(2), div.rajoite > p, .painike {
    background: #e56c69 url(../img/nuoli3.png) no-repeat 30px;
    text-align: right;
    padding: 14px 28px 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu article h2:nth-of-type(2), div.rajoite > p, .painike {
    text-align: center;
    padding: 14px 0 0 0;
    -webkit-transition: background, 0.2s ease-in;
    -moz-transition: background, 0.2s ease-in;
    -o-transition: background, 0.2s ease-in;
    transition: background, 0.2s ease-in;
  }
}

@media screen and (min-width: 980px) {
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover, .painike:hover {
    background: #e15753 url(../img/nuoli3.png) no-repeat 33px;
  }
}
@media screen and (max-width: 980px) {
  div.etusivu article h2:nth-of-type(2):hover, div.rajoite > p:hover, .painike:hover {
    background: #e15753;
  }
}

/* RAJOITE TYYLIT */
.rajoite h1 {
  margin: 0 0 30px 0;
}

.rajoite p {
  font-size: 14px;
}

.rajoite article {
  margin: 0 0 30px 0;
}
@media screen and (min-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 160px;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article {
    padding: 60px 40px 60px 40px;
  }
}

@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url(../img/punviiva.gif) top repeat-x, url(../img/kielto.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(1) {
    background: url(../img/punviiva.gif) top repeat-x white;
  }
}

@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url(../img/harviiva.gif) top repeat-x, url(../img/info.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(2) {
    background: url(../img/harviiva.gif) top repeat-x white;
  }
}

@media screen and (min-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url(../img/punviiva.gif) top repeat-x, url(../img/hlo.png) 40px 32px no-repeat white;
  }
}
@media screen and (max-width: 980px) {
  .rajoite article:nth-of-type(3) {
    background: url(../img/punviiva.gif) top repeat-x white;
  }
}

div.rajoite > p {
  max-width: 410px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

/* KIRJAUDU TYYLIT */
.kirjaudu {
  padding: 30px 0 30px 0;
}

.kirjaudu article {
  margin: 20px 0 0 0;
  background: white;
}

.kirjaudu form {
  padding: 30px;
}

.kirjaudu input {
  margin: 4px 0 10px 0;
}

#alemma {
  margin-top: 24px;
}

.kirjaudu article {
  width: 49%;
}

.kirjaudu article:nth-of-type(1) {
  float: left;
}

.kirjaudu article:nth-of-type(2) {
  float: right;
}

.kirjaudu article:nth-of-type(3) {
  clear: both;
}

.kirjaudukentta {
  width: 100%;
  display: block;
  border: 1px solid #999999;
  height: 25px;
}

.kirjaudu article:nth-of-type(2) p {
  color: white;
  background: url(../img/affa.png) no-repeat 40px 8px #3b5998;
  margin: 40px;
  padding: 20px;
  text-align: center;
}

/* RAJOITTEET TYYLIT */
.rajoitteet h1 {
  margin: 0 0 30px 0;
}

.rajoitteet ul {
  font-size: 12px;
}

.rajoitenavi ul:nth-of-type(1) {
  float: left;
}
@media screen and (max-width: 980px) {
  .rajoitenavi ul:nth-of-type(1) {
    float: none;
    margin: 0 auto;
  }
}

.rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
  float: right;
}
@media screen and (max-width: 980px) {
  .rajoitenavi ul:nth-of-type(2), .alarajoitenavi ul {
    float: none;
    margin: 20px 0 0 0;
  }
}

.rajoitteet ul li {
  position: relative;
  padding: 5px;
  margin: 0 5px 0 0;
  display: inline;
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
  content: url(../img/harnuolivas.gif) " ";
}

.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
  content: " " url(../img/harnuoli.gif);
}

.valittu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #e56c69;
  color: white;
}

.rajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) bottom repeat-x;
  height: 25px;
}
@media screen and (max-width: 980px) {
  .rajoitenavi {
    height: 75px;
  }
}

.alarajoitenavi {
  text-align: center;
  width: 100%;
  background: url(../img/dot.gif) top repeat-x;
  margin: 8px 0 0 0;
  padding: 12px 0 0 0;
}

.rajoitteet article {
  text-align: left;
  background: url(../img/harviiva.gif) bottom repeat-x;
  height: 80px;
  margin: 8px 0 0 0;
}

.rajoitteet article:nth-of-type(2n-1) {
  background: url(../img/harviiva.gif) bottom repeat-x white;
}

.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
  float: left;
  margin: 30px 0 0 30px;
}

.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
  text-align: center;
  font-size: 12px;
  width: 140px;
  float: right;
  margin: 28px 0 0 0px;
}

.rajoitteet p:nth-of-type(3) {
  margin: 34px 0 0 0px;
}

.rajoitteet h4 {
  color: #e56c69;
  font-style: italic;
  text-align: center;
  margin: 30px 0 0 0px;
  width: 140px;
}
@media screen and (max-width: 980px) {
  .rajoitteet h4 {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:nth-of-type(2) {
    display: none;
  }
}

@media screen and (max-width: 980px) {
  .rajoitteet article p:first-of-type {
    display: block;
  }
}

@media screen and (max-width: 784px) {
  .rajoitteet article p:nth-of-type(3) {
    display: none;
  }
}

.rajoitteet a {
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}

.rajoitteet a:hover {
  color: #e56c69;
}

.bar {
  margin: 0;
  min-width: 0;
  position: relative;
  top: 76px;
  height: 4px;
  background-color: #e56c69;
}

/* TEE RAJOITE TYYLIT */
div.teerajoite {
  padding: 20px 0 20px 0;
}

form.teerajoite {
  position: relative;
  text-decoration: none;
  border-radius: 10px;
}

form.teerajoite p {
  margin: 20px 0 4px 0;
}

.teerajoitekentta {
  width: 50%;
  display: block;
  border: 1px solid #999999;
  height: 25px;
}

form.teerajoite textarea {
  width: 100%;
  height: 200px;
  display: block;
  box-sizing: border-box;
}

form.teerajoite textarea:focus, form.teerajoite input:focus {
  border: 1px solid #e56c69;
  outline: none;
}

.painike {
  display: block;
  font-family: "Merriweather Sans", sans-serif;
  margin: 30px auto;
  border: none;
  width: 410px;
  height: 40px;
  padding: 0 20px;
}

/* FOOTER TYYLIT */
footer {
  color: #666;
  padding: 40px 0 200px 0;
}

footer a {
  color: #e56c69;
  -webkit-transition: all, 0.2s ease-in;
  -moz-transition: all, 0.2s ease-in;
  -o-transition: all, 0.2s ease-in;
  transition: all, 0.2s ease-in;
}

footer a:hover {
  color: #dd413e;
}

footer p, footer ul {
  font-size: 13px;
  width: 220px;
  float: left;
  margin: 0 0 40px 20px;
  padding: 0 0 0 70px;
}

footer p a:after {
  content: " " url(../img/nuoli4.png);
}

footer p:nth-of-type(1) {
  background: url(../img/raksi.png) no-repeat;
}

footer p:nth-of-type(2) {
  background: url(../img/affa.png) no-repeat;
}

footer ul li {
  margin: 0 0 5px 0;
}
