/*
Syntax error: Invalid CSS after "	background:": expected pseudoclass or pseudoelement, was " url(../img/ale..."
        on line 302 of C:/Users/Admin/Documents/kansarbox/kansalaisrajoite/static/sass/main.scss

Backtrace:
C:/Users/Admin/Documents/kansarbox/kansalaisrajoite/static/sass/main.scss:302
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1148:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1084:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1066:in `expr!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:793:in `pseudo'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:677:in `simple_selector_sequence'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:645:in `_selector'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:618:in `selector'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:602:in `selector_sequence'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:527:in `ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:590:in `block in declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:1122:in `rethrow'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:591:in `declaration_or_ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:553:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:534:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:528:in `ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:552:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:545:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/scss/parser.rb:27:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:342:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:315:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.12/lib/sass/engine.rb:262:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/path.rb:35:in `update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:39:in `block in modified'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:37:in `modified'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/state/directory.rb:18:in `refresh'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:17:in `block in run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `loop'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/backends/polling.rb:15:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
C:/Ruby193/bin/compass:23:in `load'
C:/Ruby193/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"	background:\": expected pseudoclass or pseudoelement, was \" url(../img/ale...\"\A         on line 302 of C:/Users/Admin/Documents/kansarbox/kansalaisrajoite/static/sass/main.scss"; }
