@import "base";

/* Kansalaisrajoite */

/* YLEISET TYYLIT */
body {
	font-family: 'Merriweather Sans', sans-serif;
	background:white;
	color:#111;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:28px;
	font-weight:700;
}
h2 {
	font-size:16px;
	font-weight:400;
}
h3 {
	font-size:14px;
	font-weight:700;
	margin:0 0 5px 0;
}
p {
	font-weight:300;
}
a {
	color:inherit;
	text-decoration:none;
}
em {
	color:$themecolor;
}
span {
	font-weight:300;
	font-size:37px;
}
nav,footer {
	@include scale();
}
/* HEADER TYYLIT */

header {
	background:url(../img/topheader2.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	@include wide {
		height:240px;
		background:url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader2.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	}
	div {
		@include scale();
		color: white;
		font-size: 12px;
		margin: 0 auto;
		padding: 7px 0 0 0;
		text-align: right;
		p {
			span {
				font-size: 12px;
				font-weight: bold;
				padding: 4px 4px 4px 10px;
				@include border-radius(2px);
				@include transition(all, $anitime ease-in);
				&:hover {background:lighten($themecolor, 3%);}
				&:after {content:" " url(../img/nuoli4b.png);}
			}
		}
	}
}
nav {
	padding:106px 0 0 0;
	background:url(../img/logo.png) no-repeat 0 66px;
	@include wide {
		text-align:right;
	}
	font-weight:bold;
	color:white;

	h1 {
		@include wide {
			float:left;
		}
		margin:-12px 0 0 100px;
		font-size:36px;
	}

	ul {
		font-size:14px;
		@include wide {
			margin-bottom:30px;
		}
		@include narrow {
			margin:44px 0 0 0;
			padding:0 0 24px 0;
		}

		&:nth-of-type(1) {
			li {
				&:before {content:url(../img/nuoli12.gif) " ";}
			}
		}

		&:nth-of-type(2) {
			@include narrow {
				display:none;
			}
			li {
				font-size:12px;
				color:white;
				@include narrow {
					display:none;
					&:before {content:url(../img/nuoli22.gif) " ";}
				}
			}
		}

		li {
			@include wide {
				display:inline;
			}
			margin-left:0px;
			padding:5px;
			@include transition(all, $anitime ease-in);
			@include border-radius(4px);
			color:$themecolor;
			&:hover {background:lighten($headergray, 3%);}
		}
	}
}
/* GLOBAALIT CONTENT TYYLIT */
section {
	background:url(../img/dot2.gif) bottom repeat-x $semigray;
}
div.etusivu, div.rajoite, div.rajoitteet {
	padding:30px 0 30px 0;
		@include scale();
}
/* ETUSIVU TYYLIT */
div.etusivu {
	@include scale();
	@include wide{
		background:url(../img/mainbg.png) no-repeat;
	}
	article {
		background-color:white;
		opacity:0.9;
		@include wide{
				margin:0 0 40px 410px;
		}
		@include narrow{
				margin:0 0 40px 0;
		}
		padding:50px 50px 50px 50px;

		h1 {margin:0 0 30px 0;}

		h2:nth-of-type(1) {
			font-size:18px;
			line-height:125%;
		}
	}
}
div.etusivu article h2:nth-of-type(2), div.rajoite > p, .painike {
	color:white;
	background-color:$themecolor;
	height:30px;
	margin-top:30px;
	@include wide{
			background:$themecolor url(../img/nuoli3.png) no-repeat 30px;
			text-align:right;
			padding:14px 28px 0 0;
			@include transition(background, $anitime ease-in);
	}
	@include narrow{
			text-align:center;
			padding:14px 0 0 0;
			@include transition(background, $anitime ease-in);
	}	
	@include transition(background, $anitime ease-in);
	&:hover {
		@include wide{
		background:darken($themecolor, 5%) url(../img/nuoli3.png) no-repeat 33px;
		}
	@include narrow{
		background:darken($themecolor, 5%);
		}
	}
}
/* RAJOITE TYYLIT */
.rajoite {
	h1 {
		margin:0 0 30px 0;
	}
	p {
		font-size:14px;
	}
	article {
		margin:0 0 30px 0;
		@include wide {
			padding:60px 40px 60px 160px;
		}
		@include narrow {
			padding:60px 40px 60px 40px;
		}
		&:nth-of-type(1) {
			@include rajoitteentausta("../img/punviiva.gif", "../img/kielto.png")
		}
		&:nth-of-type(2) {
			@include rajoitteentausta("../img/harviiva.gif", "../img/info.png")
		}
		&:nth-of-type(3) {
			@include rajoitteentausta("../img/punviiva.gif", "../img/hlo.png")
		}
	}
	> p {
		display: block;
		max-width:410px;
		margin:0 auto;
		margin-bottom:40px;
	}	
}
/* KIRJAUDU TYYLIT */
.reglog {
	article {
		padding:20px;
		width:400px;
		margin-top:20px;
		margin: 0 auto;
		background:white;
		p {
			font-size: 12px;
		}
		.regtip {
			text-align: center;
			margin: 20px 0 0 0;
			a {
				color:$themecolor;
			}
			&:nth-of-type(1) {
				font-weight: bold;
				font-size: 14px;
				margin: 10px 0 20px 0;
			}
		}
		&:nth-of-type(2) {
			p {
				color:white;
				background:url(../img/fblogo.png) no-repeat 40px 6px #3B5998;
				padding:13px;
				text-align:right;
				@include transition(background, $anitime ease-in);
				&:hover {
					background:darken(#3B5998, 5%) url(../img/fblogo.png) no-repeat 43px;
				}
			}
		}
		&:nth-of-type(3) {
			padding:0;
		}
	}
	input {
		margin:4px 0 10px 0;
		padding-left:6px;
	}
} 
#alemma {
	margin-top:24px;
}
.kirjaudukentta {
	width:100%;
	display:block;
	border: 1px solid #999;
	height: 25px;
}
/* RAJOITTEET TYYLIT */
.rajoitteet {
	h1 {
		margin:0 0 30px 0;
	}
	ul {
		font-size:12px;
		&:nth-of-type(1) {
			@include narrow {
				float:none;
				margin:0 auto;
			}
		}
		li {
			position:relative;
			padding:5px;
			margin:0 5px 0 0;
			display:inline;
		}
	}
	article {
		text-align:left;
		background:url(../img/harviiva.gif) bottom repeat-x;
		height:80px;
		margin:8px 0 0 0;
		&:nth-of-type(2n-1) {
			background:url(../img/harviiva.gif) bottom repeat-x white;
		}
	}
} 
%rajoitenavit-oikealle {
	float:right;
	@include narrow {
		float:none;
		margin:20px 0 0 0;
	}	
}
.rajoitenavi {
	ul {
		float: left;
		&:nth-of-type(2) {
			@extend %rajoitenavit-oikealle;
		}
	}
}
.alarajoitenavi ul {
	@extend %rajoitenavit-oikealle;
}
.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
	content:url(../img/harnuolivas.gif) " ";
}
.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
	content:" " url(../img/harnuoli.gif);
}
.valittu {
	@include border-radius(4px);
	background:$themecolor;
	color:white;
}
.rajoitenavi {
	text-align:center;
	width:100%;
	background:url(../img/dot.gif) bottom repeat-x;
	height:25px;
	@include narrow {
		height:75px;
	}
}
.alarajoitenavi {
	text-align:center;
	width:100%;
	background:url(../img/dot.gif) top repeat-x;
	margin:8px 0 0 0;
	padding:12px 0 0 0;
}
.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
	float:left;
	margin:30px 0 0 30px;
}
.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
	text-align:center;
	font-size:12px;
	width:140px;
	float:right;
	margin:28px 0 0 0px;
}
.rajoitteet p:nth-of-type(3) {
	margin:34px 0 0 0px;
}
.rajoitteet h4 {
	@include narrow {
		display:none;
	}
	color:$themecolor;
	font-style:italic;
	text-align:center;
	margin:30px 0 0 0px;
	width:140px;
}
.rajoitteet article p:nth-of-type(2) {
	@include narrow {
		display:none;
	}
}
.rajoitteet article p:first-of-type {
	@include narrow {
		display:block;
	}
}
.rajoitteet article p:nth-of-type(3) {
	@media screen and (max-width:784px) {
		display:none;
	}
}
.rajoitteet a {
	@include transition(all, $anitime ease-in);
	&:hover {
		color:$themecolor;
	}
}
.bar {
	margin:0;
	min-width:0;
	position:relative;
	top:76px;
	height:4px;
	background-color:$themecolor;
}
/* TEE RAJOITE TYYLIT */
div.teerajoite, div.tiedotteet {
	@include scale();
	padding:20px 0 20px 0;
}
form.teerajoite    {
	position:relative;
	text-decoration: none;
	border-radius: 10px;
}
form.teerajoite p {
	margin:20px 0 4px 0;
}
.teerajoitekentta   {
	width:50%;
	display:block;
	border: 1px solid #999;
	height: 25px;
}
form.teerajoite textarea {
	width:100%;
	height:200px;
	display:block;
	box-sizing:border-box;
}
form.teerajoite textarea:focus, form.teerajoite input:focus, form.kirjautuminen textarea:focus, form.kirjautuminen input:focus {
	border: 1px solid $themecolor;
	outline: none;
}
.painike {
	display:block;
	font-family: 'Merriweather Sans', sans-serif;
	margin:30px auto;
	border:none;
	width:100%;
	max-width:410px;
	height:40px;
	padding:0 20px;
}
/* TIEDOTTEET TYYLIT */
.tiedotteet h1, .tiedotteet p {
	margin:20px 0 20px 0;
}
.tiedotteet article {
	background:white;
	margin:0 0 30px 0;
	padding:30px;
}
/* FOOTER TYYLIT */
footer {
	color:#666;
	padding:40px 0 200px 0;
}
footer a {
	color:$themecolor;
	@include transition(all, $anitime ease-in);
}
footer a:hover {
	color:darken($themecolor, 10%);
}
footer p, footer ul {
	font-size:13px;
	width:220px;
	float:left;
	margin:0 0 40px 20px;
	padding:0 0 0 70px;
}
footer p a:after {
	content:" "url(../img/nuoli4.png);
}
footer p:nth-of-type(1) {
	background:url(../img/raksi.png) no-repeat;
}
footer p:nth-of-type(2) {
	background:url(../img/affa.png) no-repeat;
}
footer ul li {
	margin:0 0 5px 0;
}