@import "normalize";
@import "base";
@import "tooltipster";
@import "facebox";

/* Kansalaisrajoite */

/* COMMON TYY */
html {
	font-size: $basefontsize;
}
body {
	font-family: 'Merriweather Sans', sans-serif;
	background:white;
	color:#111;
}
h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size:1.75em;
	font-weight:700;
	@include narrow {
		font-size: 1.25em;
		padding-left: 20px;
	}
}
h2 {
	font-size:1em;
	font-weight:400;
	@include narrow {
		font-size: 0.75rem;
	}
}
h3 {
	font-size:1.143em;
	font-weight:700;
	margin:0 0 5px 0;
}
p {
	font-weight:300;
}
a {
	color:inherit;
	text-decoration:none;
}
em {
	color:$themecolor;
}
.highlight {
	font-weight:300;
	font-size:37px;
}
ol {
	list-style-type: decimal;
	list-style-position:inside;
}
nav,footer {
	@include scale();
}
.hidden {
	display:none;
}
/* HEADER STYLES */

header {
	background:url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	@include wide {
		height:240px;
		background:url(../img/headerbg.jpg) bottom center no-repeat, url(../img/topheader.gif) top repeat-x, url(../img/dot.gif) bottom repeat-x, $headergray;
	}
	div {
		@include scale();
		color: white;
		font-size: 1rem;
		margin: 0 auto;
		padding: 7px 0 0 0;
		text-align: right;
		p {
			strong {
				@include narrow {display:none;}
			}
			@include narrow {text-align:center;}
			font-size: 0.75rem;
			span {
				font-size: 0.75rem;
				font-weight: bold;
				padding: 4px 4px 4px 10px;
				@include border-radius(2px);
				@include transition(all, $anitime ease-in);
				&:hover {background:lighten(#222222, 3%);}
				&:after {content:" " url(../img/nuoli4b.png);}
			}
		}
	}
}
nav {
	@include wide {
		padding:106px 0 0 0;
		background:url(../img/logo.png) no-repeat 0 66px;
		text-align:right;
		font-weight:bold;
		color:white;
	}
	h1 {
		@include narrow {display:none;}
		@include wide {
			float:left;
			margin:-12px 0 0 100px;
			font-size:2.25em;
		}
	}
	ul {
		font-size:0.85rem;
		@include wide {
			margin-bottom:30px;
		}
		@include narrow {
			margin:44px 0 0 0;
			padding:0 0 24px 0;
		}

		&:nth-of-type(1) {
			li {
				&:nth-of-type(1) {
					@include wide {
						display: none;
					}
				}
				@include wide {
					&:before {content:url(../img/nuoli12.gif) " ";}
				}
				@include narrow {text-align: center; font-size: 1rem; line-height:30px;}
			}
		}
		&:nth-of-type(2) {
			@include narrow {
				display:none;
			}
			li a {
				font-size:0.75rem;
				color:white;
				@include narrow {
					&:before {content:url(../img/nuoli22.gif) " ";}
				}
			}
		}

		li {
			@include wide {
				display:inline;
			}
			margin-left:0px;
			a {
				padding:5px;
				@include transition(all, $anitime ease-in);
				@include border-radius(4px);
				color:$themecolor;
				&:hover {background:lighten($headergray, 3%);}
			}
		}
	}
}
/* GLOBAL CONTENT STYLES */
section {
	background:url(../img/dot2.gif) bottom repeat-x $semigray;
}
div.etusivu, div.rajoite, div.rajoitteet {
	padding:30px 0 30px 0;
		@include scale();
}
/* ETUSIVU STYLES */
div.etusivu {
	@include scale();
	@include wide {
		background:url(../img/mainbg.png) no-repeat;
	}
	article {
		background-color:white;
		opacity:0.9;
		@include wide {
			margin:0 0 40px 410px;
			padding:50px 50px 50px 50px;
		}
		@include narrow {
			margin:0 0 20px 0;
			padding:25px 25px 25px 25px;
		}
		h1 {
			margin:0 0 30px 0;
			@include narrow { margin-left: -20px; }
		}
	}
}
.painike {
	display:block;
	margin:30px auto;
	border:none;
	width:100%;
	max-width:410px;
	height:40px;
	color:white;
	font-family: Merriweather Sans;
	background-color:$themecolor;
	@include transition(background, $anitime ease-in);
	@include wide {
			background:$themecolor url(../img/nuoli3.png) no-repeat 30px;
			text-align:right;
			padding:0 28px 0 0;
			@include transition(background, $anitime ease-in);
	}
	@include narrow {
			text-align:center;
			@include transition(background, $anitime ease-in);
	}
	&:hover {
		@include wide {
		background:darken($themecolor, 5%) url(../img/nuoli3.png) no-repeat 33px;
		}
	@include narrow {
		background:darken($themecolor, 5%);
		}
	}
	a {
		@include vertical-align;
	}
	h2 {
		@include vertical-align;
	}
}
.fbpainike {
	@extend .painike;
	background-color:$headergray;
	&:hover {
		@include wide {
		background:#3B5998 url(../img/fbnuoli3.png) no-repeat 33px;
		}
		@include narrow {
			background:#3B5998;
		}
	}
}
.twpainike {
	@extend .painike;
	background-color:$headergray;
	&:hover {
		@include wide {
		background:#4099FF url(../img/twnuoli3.png) no-repeat 33px;
		}
		@include narrow {
			background:#4099FF;
		}
	}
}
/* RAJOITE STYLES */
.rajoite {
	h1 {
		float: left;
		margin:0 0 30px 0;
		max-width: 80%;
	}
	p {
		@include narrow {margin:0 20px 0 20px;}
		white-space: pre-wrap;
	}
	p.alert, p.info {
		font-size: 0.75rem;
	}
	article {
		margin:0 0 30px 0;
		@include wide {
			padding:60px 40px 60px 160px;
		}
		@include narrow {
			padding:60px 40px 60px 40px;
		}
		&:nth-of-type(1) {
			@include rajoitteentausta("../img/punviiva.gif", "../img/kielto.png")
		}
		&:nth-of-type(2) {
			@include rajoitteentausta("../img/harviiva.gif", "../img/info.png")
		}
		&:nth-of-type(3) {
			@include rajoitteentausta("../img/punviiva.gif", "../img/hlo.png")
		}
	}
}
.salasana {
	@include wide {
		padding:60px 40px 60px 40px;
	}
	@include narrow {
		padding:60px 20px 60px 20px;
	}
	background:url("../img/punviiva.gif") top repeat-x white;
}

#tw {
	float: right;
	height: 32px;
	width: 32px;
	margin-right: 20px;
	background: url("../img/graytw.png") no-repeat;
	@include transition(background, $anitime ease-in);
	&:hover {
		background: url("../img/bluetw.png") no-repeat;
	}
}
#fb {
	float: right;
	height: 32px;
	width: 32px;
	padding: 0 10px 0 0;
	background: url("../img/grayfb.png") no-repeat;
	@include transition(background, $anitime ease-in);
	&:hover {
		background: url("../img/bluefb.png") no-repeat;
	}
}

/* KIRJAUDU STYLES */
.reglog {
	article {
		padding:20px;
		@include wide {
			width:400px;
		}
		margin-top:20px;
		margin: 0 auto;
		background:white;
		p {
			font-size: 0.75rem;
		}
		&:nth-of-type(2) {
			p {
				color:white;
				background:url(../img/fblogo.png) no-repeat 40px 6px #3B5998;
				padding:13px;
				text-align:right;
				@include transition(background, $anitime ease-in);
				&:hover {
					background:darken(#3B5998, 5%) url(../img/fblogo.png) no-repeat 43px;
				}
			}
		}
		&:nth-of-type(3) {
			padding:0;
		}
	}
	input {
		margin:4px 0 10px 0;
		padding-left:6px;
	}
	textarea{
		resize:vertical;
	}
}
.regtip {
	text-align:center;
	margin-top:20px;
	a {
		color:$themecolor;
	}
	&:nth-of-type(1) {
		font-weight: bold;
		font-size: 0.875rem;
		margin: 10px 0 20px 0;
	}
}
.tip {
	text-align: center;
	margin: 20px 0 0 0;
	font-size: 0.875rem;
}
.lower {
	margin-top:+24px;
}
.formfield {
	background:$semigray;
	width:100%;
	display:block;
	border: 1px solid #999;
	height: 25px;
	@include border-box;
}

.infoboksi {
	box-sizing: border-box;
	font-size: 1.25rem;
	text-align:center;
	border: solid 4px $themecolor;
	@include wide {
		margin: 10px 0 20px 0;
	}
	min-height: 48px;
	max-width: 400px;
}

.alert {
	@extend .infoboksi;
	margin: 0 auto 20px;
	background: url(../img/alert2.png) no-repeat 0 0, url(../img/alertbg.gif) repeat-y 0 0;
	padding: 15px 10px 15px 50px;
}

.info {
	@extend .infoboksi;
	margin: 0 auto;
	padding: 11px 10px 15px 50px;
	background: url(../img/done.png) no-repeat 0 0, url(../img/alertbg.gif) repeat-y 0 0;
	font-size: 1.125rem;
}
/* NON MODAL CONTENT AREA FORM STYLES */

.contentform {
	@extend .rajoite;
	max-width: 50%;
}

/* RAJOITTEET STYLES */
.rajoitteet {
	h1 {
		margin:0 0 30px 0;
	}
	ul {
		font-size:0.75rem;
		&:nth-of-type(1) {
			@include narrow {
				float:none;
				margin:0 auto;
			}
		}
		li {
			position:relative;
			padding:5px;
			margin:0 5px 0 0;
			display:inline;
		}
	}
	article {
		text-align:left;
		background:url(../img/harviiva.gif) bottom repeat-x;
		height:80px;
		margin:8px 0 0 0;
		&:nth-of-type(2n-1) {
			background:url(../img/harviiva.gif) bottom repeat-x white;
		}
	}
	a {
		@include transition(all, $anitime ease-in);
		&:hover {
			color:$themecolor;
		}
	}
}
%rajoitenavit-oikealle {
	float:right;
	@include narrow {
		float:none;
		margin:20px 0 0 0;
	}
}
.rajoitenavi {
	ul {
		float: left;
		&:nth-of-type(2) {
			@extend %rajoitenavit-oikealle;
		}
	}
}
.alarajoitenavi ul {
	@extend %rajoitenavit-oikealle;
}
.rajoitteet ul:nth-of-type(2) li:nth-of-type(1):before, .alarajoitenavi li:nth-of-type(1):before {
	content:url(../img/harnuolivas.gif) " ";
}
.rajoitteet ul:nth-of-type(2) li:nth-of-type(3):after, .alarajoitenavi li:nth-of-type(3):after {
	content:" " url(../img/harnuoli.gif);
}
.valittu {
	@include border-radius(4px);
	background:$themecolor;
	color:white;
	a {
		&:hover {
			color: white;
		}
	}
}
.rajoitenavi {
	text-align:center;
	width:100%;
	background:url(../img/dot.gif) bottom repeat-x;
	height:25px;
	@include narrow {
		height:55px;
	}
}
.alarajoitenavi {
	text-align:center;
	width:100%;
	background:url(../img/dot.gif) top repeat-x;
	margin:8px 0 0 0;
	padding:12px 0 0 0;
}
.rajoitteet h4, .rajoitteet p:nth-of-type(1) {
	float:left;
	margin:30px 0 0 30px;
}
.rajoitteet p:nth-of-type(2), .rajoitteet p:nth-of-type(3) {
	text-align:center;
	font-size:12px;
	width:140px;
	float:right;
	margin:28px 0 0 0px;
}
.rajoitteet p:nth-of-type(3) {
	margin:34px 0 0 0px;
}
.rajoitteet h4 {
	@include narrow {
		display:none;
	}
	color:$themecolor;
	font-style:italic;
	text-align:center;
	margin:30px 0 0 0px;
	width:140px;
}
.rajoitteet article p:nth-of-type(2) {
	@include narrow {
		display:none;
	}
}
.rajoitteet article p:first-of-type {
	@include narrow {
		display:block;
	}
}
.rajoitteet article p:nth-of-type(3) {
	@media screen and (max-width:784px) {
		display:none;
	}
}
.bar {
	margin:0;
	min-width:0;
	position:relative;
	top:76px;
	height:4px;
	background-color:$themecolor;
}
.voted {
	&:after {content:url(../img/voted.png) " ";}
}
/* TEE RAJOITE STYLES */
div.teerajoite, div.tiedotteet {
	@include scale();
	padding:20px 0 20px 0;
}
div.rajoite > p {
	margin-bottom: 30px;
	line-height:20px;
	a {color:$themecolor}
}

form.teerajoite    {
	position:relative;
	text-decoration: none;
	border-radius: 10px;

	h2 {
		margin-bottom: 10px;
	}
	span {
		margin: 0 10px 0 0;
		font-size: 1rem;
		font-weight: bold;
		color: $themecolor;
	}
}
form.teerajoite p {
	margin:20px 0 4px 0;
}
.formtable {
	width:100%;
	table-layout:fixed;
	td {
		padding: 0 0 10px 0;
	}
}
.formlabel {
	width: 180px;
	@include narrow {width:50%;}
}
.restrictiontext {
	background:$semigray;
	width:50%;
	padding-left:6px;
	display:block;
	border: 1px solid #999;
	height: 25px;
	@include border-box;
}
.restrictionlabel {
	@extend .restrictiontext;
	display:inline;
	width:100%;
}
form.teerajoite textarea {
	width:100%;
	height:200px;
	display:block;
	box-sizing:border-box;
	resize:vertical;
}
textarea:focus, input:focus {
	border: 1px solid $themecolor;
	outline: none;
}
#kannata {
	max-width:370px;
	height:30px;
	padding:10px 20px 0 20px;
	font-weight:400;
}
/* TIEDOTTEET STYLES */
.tiedotteet h1, .tiedotteet p {
	margin:20px 0 20px 0;
}
.tiedotteet article {
	background:white;
	margin:0 0 30px 0;
	padding:30px;
	a {
		color:$themecolor;
	}
	p {
		line-height: 22px;
	}
}
/* OHJEET STYLES */
.ohjeet {
	padding:30px 0 30px 0;
	h1 {
		margin-bottom: 30px;
	}
	.anchor {
		color: black !important;
		margin-bottom: 8px;
	}
	a {
		color:$themecolor;
	}

	@include scale;
	aside {
		@include wide {
		float: left;
		width: 25%;
		}
		ul li {
			display: block;
			margin-bottom: 10px;
			@include narrow {
				padding-left: 20px;
			}
		}
	}
	.content {
		@include wide {
			float: right;
			width: 65%;
		}
		article {
			padding: 30px;
			background:white;
			margin-bottom: 30px;
			> * {
				line-height: 18px;
				margin-bottom: 30px;
			}
		}
	}
}
.clear {
	clear: both;
}

/* FOOTER STYLES */
footer {
	color:#666;
	padding:40px 0 200px 0;
}
footer a {
	color:$themecolor;
	@include transition(all, $anitime ease-in);
}
footer a:hover {
	color:darken($themecolor, 10%);
}
footer p, footer ul {
	font-size:0.8125rem;
	width:220px;
	float:left;
	margin:0 0 40px 20px;
	padding:0 0 0 70px;
}
footer p a:after {
	content:" "url(../img/nuoli4.png);
}
footer p:nth-of-type(1) {
	background:url(../img/raksi.png) no-repeat;
}
footer p:nth-of-type(2) {
	background:url(../img/affa.png) no-repeat;
}
footer ul li {
	margin:0 0 5px 0;
}